<!DOCTYPE html>
<html>
  <head>
    <title>2023 MLB Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div>
      <h1>2023 MLB Opening Day Players Quiz</h1>
      <p>Enter the LAST name of the player in the input box below:</p>
      <p><img src="{{ url_for('static', filename='images/' + player.picture_file_name) }}" alt="{{ player.name }}"></p>
      <form method="post" action="/submit">
        <label for="name">Player Last Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <br>
        <button type="submit">Submit</button>
        <button>I don't know</button>
    </div>
  </body>
</html>

